.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar h1 {
  font-size: 1.5rem;
}

.navbar a {
  color: var(--white-color);
  margin: 0 0.5rem;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin-left: 1rem;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.7rem 1rem;
  }

  .navbar h1 {
    font-size: 1.2rem;
  }

  .navbar ul {
    font-size: 0.9rem;
  }
}
